/* RESET DO NAVEGADOR */
* { 
    margin: 60;
    padding: 0;
    box-sizing:border-box;
}


body{
    background-color: rgb(107, 107, 107);
    background-image: url("") ;
}

h1{
text-align: center;
color:rgb(255, 0, 0);
font-size: 70px;
}

p{ 
    text-align:  justify;
    font-size: 15px;
    font-family: 'arial';
    margin: 20px;
}